<!--The content below is only a placeholder and can be replaced.-->
 <!-- {{event | json}} -->

<div class="main-div" [style.background-image]="imgUrl">
  <li *ngFor="let item of event?.template?.templateProperties">
    <span style="position: absolute;"
    [style.color]="item.fontColor"
    [style.fontSize]="item.fontSize+'px'"
    [style.top]="item.top+'%'"
    [style.left]="item.left+'%'"
    [style.font-family]="item.fontFamily">
    {{item.eventProperty.fieldValue}}
  </span>
  </li>
</div>
<router-outlet></router-outlet>
